body{
    background-color: black;
}
input[type='text']{
    width: 30%;
    height: 30px;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
}
button{
    border-radius: 10px;
    margin-left: 5%;
    width: 150px;
    height: 50px;
    font-size: 30px;
    background-color: white;
}
button:active{
    border: 2px solid white;
    background-color: black;
    color: white;
}
.dec{
    border-radius: 20px;
    background-color: rgb(255, 213, 220);
    margin: 30px auto;
    padding: 30px;
    width: 75%;

}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
li{
    margin: 20px 10px;
    font-size: 35px;
}
a{
    text-decoration: none;
    color: black;
}
.items{
    width: 100%;
}
img{
    border-radius: 25px;
    border: 3px solid black;
}